/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";


global
{
	/*content-background-color: #D59A66;
	chrome-color: #BF8B5E;*/
}

.settingsList {
	font-size: 24;
	chrome-color: #333333;
	color: black;
	/*content-background-color: black;*/
}