daisyworks-desktop-java/target/
daisyworks-desktop-java/.classpath
daisyworks-desktop-java/.settings/
daisyworks-desktop-java/.project
daisyworks-desktop-air/build.properties
daisyworks-desktop-air/bin-debug/
daisyworks-desktop-air/bin-release/
daisyworks-desktop-air/deploy/*.swf
daisyworks-desktop-air/deploy/*.jar
daisyworks-desktop-air/deploy/jre/**/*
daisyworks-desktop-air/deploy/jre/COPYRIGHT
daisyworks-desktop-air/deploy/jre/LICENSE
daisyworks-desktop-air/deploy/jre/README
daisyworks-desktop-air/deploy/jre/THIRDPARTYLICENSEREADME.txt
daisyworks-desktop-air/deploy/jre/Welcome.html
install/*.exe
install/*.dmg
install/*.deb
*.log
*.log.*
**/*.DS_Store
.DS_Store

