**/*.DS_Store
.DS_Store
server/target/
server/.classpath
server/.settings/
server/.project
*.log
*.log.*
build.properties
client/bin-debug/
client/bin-release/
install/*.exe
install/*.dmg
install/*.deb
client/deploy/*.swf
client/deploy/*.jar
