/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

@font-face {
	src: url('assets/fonts/PTC55F.ttf');
	fontFamily: "PT Sans Caption";
	fontStyle: normal;
	fontWeight: normal;
	embedAsCFF: false;
}

@font-face {
	src: url('assets/fonts/PTC75F.ttf');
	fontFamily: "PT Sans Caption Bold";
	fontStyle: normal;
	fontWeight: bold;
	embedAsCFF: false;
}

@font-face {
	src: url('assets/fonts/PTN57F.ttf');
	fontFamily: "PT Sans Narrow";
	fontStyle: normal;
	fontWeight: normal;
	embedAsCFF: false;
}

@font-face {
	src: url('assets/fonts/PTN77F.ttf');
	fontFamily: "PT Sans Narrow Bold";
	fontStyle: normal;
	fontWeight: bold;
	embedAsCFF: false;
}

@font-face {
	src: url('assets/fonts/PTS55F.ttf');
	fontFamily: "PT Sans";
	fontStyle: normal;
	fontWeight: bold;
	embedAsCFF: false;
}

@font-face {
	src: url('assets/fonts/PTS56F.ttf');
	fontFamily: "PT Sans Italic";
	fontStyle: italic;
	fontWeight: normal;
	embedAsCFF: false;
}

@font-face {
	src: url('assets/fonts/PTS75F.ttf');
	fontFamily: "PT Sans Bold";
	fontStyle: normal;
	fontWeight: bold;
	embedAsCFF: false;
}

@font-face {
	src: url('assets/fonts/PTS76F.ttf');
	fontFamily: "PT Sans Bold Italic";
	fontStyle: bold;
	fontWeight: bold;
	embedAsCFF: false;
}

global
{
	content-background-color: #f3f3f3;
	chrome-color: #e0e0ee;
	font-family: Verdana;
	headerHeight: 40;
}

s|WindowedApplication{
	/*backgroundColor: #adadad;*/
}

s|Label{
	font-family: "Verdana";
}

s|RichText {
	font-family: "Verdana";
	fontSize: 14;
}

/*
s|FormItem s|Label#labelDisplay {
	textAlign: right;
}*/

s|Form
{
	skinClass: ClassReference("spark.skins.spark.StackedFormSkin");
}
s|FormHeading
{
	skinClass: ClassReference("spark.skins.spark.StackedFormHeadingSkin");
}        
s|FormItem
{
	skinClass: ClassReference("spark.skins.spark.StackedFormItemSkin");
}